.contact {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 82px 160px 60px;
    box-shadow: 0 1px rgb(0, 0, 0, 0.2);
}

.contact__title {
    margin: 0;
    font-family: 'Pangolin', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 34px;
}

.contact__email {
    width: 750px;
    height: 118px;
    background-color: #FFF;
    box-shadow: 0 4px 34px rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    padding: 0 40px;
    margin: 100px 0 0;
    box-sizing: border-box;
}

.contact__input {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 19px;
    border: none;
    margin-left: 12px;
    height: 64px;
    width: 450px;
    padding: 0 8px;
}

.contact__input::placeholder {
    color: #414141;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 19px;
}

.contact__button {
    margin-left: auto;
    height: 60px;
    width: 200px;
    font-family: 'Rubik', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #FFF;
    background-color: #124C5F;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.contact__button:hover {
    background-color: #104455;
}

.contact__button:active {
    background-color: #0b3442;
}


.contact__info {
    display: flex;
    width: 100%;
    margin: 100px 0 0;
}

.contact__subtitle {
    font-family: 'Rubik', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 0;
}

.contact__icons {
    display: flex;
    gap: 25px;
    margin: 12px 0 0;
}

.contact__icon {
    background-color: #C4C4C4;
    border: none;
    border-radius: 50%;
    height: 58px;
    width: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__locations {
    margin-left: auto;
    display: flex;
    gap: 28px;
}

.contact__location {
    max-width: 265px;
}

.contact__phone {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #124C5F;
    margin: 20px 0 0;
}

.contact__address {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #757777;
    margin: 16px 0 0;
}
