.header {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: 38px;
    display: flex;
    gap: 56px;
}

.header__link {
    font-family: 'Glades', Tahoma, sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.header__buttons {
    margin-left: auto;
    display: flex;
    gap: 14px;
}

.header__button {
    height: 42px;
    width: 146px;
    font-family: 'Glades', Tahoma, sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header__button_login {
    color: #FFF;
    background-color: #124C5F;
}

.header__button_login:hover {
    background-color: #104455;
}

.header__button_login:active {
    background-color: #0b3442;
}

.header__button_signup {
    color: #124C5F;
    background-color: #C7E7E1;
}

.header__button_signup:hover {
    background-color: #afd6cf;
}

.header__button_signup:active {
    background-color: #98c0b9;
}
