.intro {
    position: relative;
}

.intro__bg {
    position: absolute;
    top: -120px;
    left: -123px;
    z-index: -1;
}

.intro__info {
    max-width: 420px;
    margin: 150px 0 0 80px;
}

.intro__title {
    font-family: 'Pangolin';
    font-size: 44px;
    margin: 0;
}

.intro__text {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 19px;
    line-height: 28px;
    margin: 32px 0 0;
}

.intro__button {
    margin: 56px 0 0;
    height: 60px;
    width: 200px;
    font-family: 'Glades', Tahoma, sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #FFF;
    background-color: #124C5F;
}

.intro__button:hover {
    background-color: #104455;
}

.intro__button:active {
    background-color: #0b3442;
}

.intro__image {
    position: absolute;
    top: 0;
    left: 620px;
}

.intro__blob {
    background-image: url('../images/blob\ 2.svg');
    background-repeat: no-repeat;
    width: 550px;
    height: 550px;
}

.intro__dog {
    mask-image: url('../images/blob\ 2.svg');
    mask-repeat: no-repeat;
    mask-size: cover;
    position: relative;
    top: -127px;
    left: -16px;
    z-index: 1;
}


.intro__dog-circle {
    position: absolute;
}

.intro__dog-circle:nth-of-type(1) {
    top: 550px;
    left: 220px;
}

.intro__dog-circle:nth-of-type(2) {
    top: 100px;
    left: 0;
}

.intro__dog-circle:nth-of-type(3) {
    top: 280px;
    left: -100px;
}

.intro__dog-circle:nth-of-type(4) {
    top: 0;
    left: 500px;
}


.intro__paw_large {
    position: absolute;
}

.intro__paw_large:nth-last-of-type(1) {
    left: 550px;
    top: 220px;
}

.intro__paw_large:nth-last-of-type(2) {
    left: 120px;
    top: 0;
}

.intro__paw_large:nth-last-of-type(3) {
    left: -70px;
    top: 400px;
}

.intro__paw_small {
    position: absolute;
    background-image: url('../images/paw\ yellow.svg');
    background-size: cover;
    height: 32px;
    width: 32px;
}

.intro__paw_small:nth-of-type(7) {
    top: 400px;
    left: 110px;
}

.intro__paw_small:nth-of-type(6) {
    top: 30px;
    left: 380px;
}

.intro__paw_small:nth-of-type(5) {
    top: 250px;
    left: 470px;
}

.intro__paw_small:nth-of-type(4) {
    top: 120px;
    left: 350px;
}

.intro__paw_small:nth-of-type(3) {
    top: 120px;
    left: 150px;
    transform: rotate(-90deg);
}

.intro__paw_small:nth-of-type(2) {
    top: 80px;
    left: 250px;
    transform: rotate(-45deg);
}

.intro__paw_small:nth-of-type(1) {
    top: 100px;
    left: 470px;
    transform: rotate(45deg);
}
