.services {
    margin: 270px 0 0;
    padding: 0 158px 40px;
    display: flex;
    flex-direction: column;
}

.services__title {
    font-family: 'Pangolin', Helvetica, sans-serif;
    font-size: 28px;
    line-height: 42px;
    margin: 0;
}

.services__title-line {
    width: 117px;
    border-top: solid 4px #3A8DA8;
}

.services__categories {
    display: flex;
    justify-content: space-between;
    margin: 52px 0 0;
}

.services__category {
    width: 200px;
    height: 224px;
    border: solid 1px #98F2E1;
    background-image: linear-gradient(0, #98F2E116, #FFF);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-family: 'Rubik', Helvetica, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    padding: 0 0 38px;
    transition: scale 0.2s ease-in-out;
}

.services__category:nth-of-type(2n) {
    border: solid 1px #FFEE94;
    background-image: linear-gradient(0, #FFF, #FFEE9432);
}

.services__category:hover {
    scale: 1.1;
}

.services__image {
    margin: auto 0 20px;
}
